@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2CB05, #F28705);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #c527278e;
    margin: auto;
}
h1{color: #F23030;
text-align: center; 
text-shadow: 1px 1px 2px #591010c1;}


h2{color: #267365;}

 p{
    text-align: justify;
 }